extends ../layout

block content
    - const items = (data && data.items) ? data.items : []
    - const locations = (data && data.locations) ? data.locations : []

    .d-flex.justify-content-between.align-items-center.mb-3
        h1.mb-0.text-white Items
        .btn-group
            a.btn.btn-outline-light(href="/scan") Scan
            a.btn.btn-outline-light(href="/locations") Locations
            a.btn.btn-outline-light(href="/loans") Lending

    .card.text-bg-dark.border-secondary.mb-4
        .card-body
            h2.h5.mb-3 Add item
            form.row.g-3(method="post" action="/items")
                .col-md-4
                    label.form-label(for="name") Name
                    input#name.form-control.text-bg-dark(type="text" name="name" required)
                .col-md-2
                    label.form-label(for="type") Type
                    select#type.form-select.text-bg-dark(name="type")
                        option(value="book") Book
                        option(value="tool") Tool
                        option(value="game") Game
                        option(value="other" selected) Other
                .col-md-4
                    label.form-label(for="locationId") Location
                    select#locationId.form-select.text-bg-dark(name="locationId")
                        option(value="") Unassigned
                        each loc in locations
                            option(value=loc.id) #{loc.name}
                .col-md-2.d-flex.align-items-end
                    button.btn.btn-primary.w-100(type="submit") Create
                .col-12
                    label.form-label(for="description") Description
                    textarea#description.form-control.text-bg-dark(name="description" rows="2")

    if items.length === 0
        .alert.alert-info No items yet.
    else
        .card.text-bg-dark.border-secondary
            .card-body
                h2.h5.mb-3 Overview
                .table-responsive
                    table.table.table-dark.table-hover.align-middle
                        thead
                            tr
                                th Name
                                th Type
                                th Location
                                th Created
                        tbody
                            each it in items
                                tr
                                    td
                                        a.text-white(href=`/items/${it.id}`) #{it.name}
                                    td.text-white-50 #{it.type}
                                    td
                                        if it.location
                                            a.text-white(href=`/locations/${it.location.id}`) #{it.location.name}
                                        else
                                            span.text-white-50 Unassigned
                                    td.text-white-50 #{new Date(it.createdAt).toLocaleString()}
